<!DOCTYPE html>
<html ng-app="mortgageApp">
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Oswald:200,400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles/index.css">
	<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
	<script src="js/angular.js"></script>
</head>
<body ng-controller="mainController">
	<div class="container">
		<div class="title">
			<div class="title__logo"></div>
			<span>Mortgage Calculator</span>
		</div>
		<form class="form">
			<div class="form__input form__input--house-price">
				<span class="form__label">House Price</span>
				<span class="form__value">${{housePrice | number}}</span>
				<input type="range" min="100000" max="2000000" step="10000" ng-init="housePrice = 500000" ng-model="housePrice">
			</div>
			<div class="form__input form__input--deposit">
				<span class="form__label">Deposit</span>
				<span class="form__value">{{deposit}}% ${{(housePrice * deposit/100) | number}}</span>
				<input type="range" min="0" max="100" ng-init="deposit = 20" ng-model="deposit">
			</div>
			<div class="form__input form__input--terms">
				<span class="form__label">Loan Terms</span>
				<span class="form__value">{{loanLength}} Years</span>
				<input type="range" min="1" max="30" ng-init="loanLength = 10" ng-model="loanLength">
			</div>
			<div class="form__input form__input--interest">
				<span class="form__label">Interest</span>
				<span class="form__value">{{interest}}% p.a.</span>
				<input type="range" min="4" max="8" step="0.05" ng-init="interest = 5.5" ng-model="interest">
			</div>
		</form>
		<div class="repayment">
			<span>Repayment of</span>
			<br>
			<span  ng-show="freq.value == 'weekly'" id="value">${{calcRepayment(housePrice, (housePrice * deposit/100), loanLength ,interest, 52) | number}}</span>
			<span ng-show="freq.value == 'fortnightly'" id="value">${{calcRepayment(housePrice, (housePrice * deposit/100), loanLength ,interest, 26) | number}}</span>
			<span ng-show="freq.value == 'monthly'" id="value">${{calcRepayment(housePrice, (housePrice * deposit/100), loanLength ,interest, 12) | number}}</span>
			<select ng-model="freq" class="repayment__frequency" ng-options="option.name for option in options">
			</select>
		</div>
	</div>
</body>