@font-face {
  font-family: 'UniversBlack';
  src: url("../fonts/UniversLTStd-Black.otf"); }
@font-face {
  font-family: 'UniversLight';
  src: url("../fonts/UniversLTStd-Light.otf"); }
html, body {
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  box-sizing: border-box;
  font-family: 'Open Sans'; }

input[type=range] {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  background: transparent;
  /* Otherwise white in Chrome */
  width: 90%;
  position: relative;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  top: 50%; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; }

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */ }

input[type=range]::-ms-track {
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent; }

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  border-radius: 5px;
  border: 1px solid #662d91;
  height: 30px;
  width: 30px;
  background-color: #FFA726;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-appearance: none;
  margin-top: -14px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */ }

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border-radius: 5px;
  border: 1px solid #662d91;
  height: 30px;
  width: 30px;
  background-color: #FFA726;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border-radius: 5px;
  border: 1px solid #662d91;
  height: 30px;
  width: 30px;
  background-color: #FFA726;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }

input[type=range]::-webkit-slider-runnable-track {
  width: 80%;
  position: relative;
  height: 5px;
  background-color: #662d91;
  cursor: pointer;
  border-radius: 5px;
  top: -30px; }

input[type=range]::-moz-range-track {
  width: 80%;
  position: relative;
  height: 5px;
  background-color: #662d91;
  cursor: pointer;
  border-radius: 5px;
  top: -30px; }

input[type=range]::-ms-track {
  width: 80%;
  position: relative;
  height: 5px;
  background-color: #662d91;
  cursor: pointer;
  border-radius: 5px;
  top: -30px; }

input[type=range]::-ms-fill-lower {
  width: 80%;
  position: relative;
  height: 5px;
  background-color: #662d91;
  cursor: pointer;
  border-radius: 5px;
  top: -30px; }

input[type=range]::-ms-fill-upper {
  width: 80%;
  position: relative;
  height: 5px;
  background-color: #662d91;
  cursor: pointer;
  border-radius: 5px;
  top: -30px; }

.container {
  height: 100%;
  width: 100%; }

.form {
  top: 20%;
  position: absolute;
  width: 100%;
  height: 60%; }
  .form__input {
    height: calc(100% / 4);
    width: 100%;
    position: relative; }
    .form__input:after {
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      content: "";
      position: absolute;
      display: inline-block;
      width: 90%;
      height: 2px;
      background-color: black;
      top: 0px;
      opacity: 0.1; }
  .form__value {
    display: inline-block;
    color: black;
    position: absolute;
    top: 10px;
    margin-right: 5%;
    font-size: 1.8em;
    text-align: center;
    right: 0;
    font-family: 'Oswald', sans-serif; }
  .form__label {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    opacity: 0.7;
    top: 10px;
    margin: 0 5% 0 5%; }

.repayment {
  color: white;
  position: absolute;
  height: 17%;
  width: 100%;
  bottom: 0;
  background-color: #44B74D; }
  .repayment span {
    left: 5%;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    display: inline-block;
    position: relative;
    font-size: 2em;
    text-align: center;
    opacity: 0.6; }
    .repayment span#value {
      font-weight: 400;
      opacity: 1;
      font-size: 2.5em;
      line-height: 40px; }
  .repayment__frequency {
    position: relative;
    color: white;
    font-size: 2.3em;
    font-family: 'Oswald', sans-serif;
    margin: 0 0 0 20px;
    background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-color: rgba(0, 0, 0, 0.1);
    border: none; }

.title {
  height: 20%;
  width: 100%;
  position: absolute;
  top: 0; }
  .title span {
    left: 5%;
    color: #662d91;
    font-size: 2.5em;
    top: 50px;
    position: absolute;
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Oswald', sans-serif; }
  .title__logo {
    background-image: url("../imgs/glimp-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 5%;
    margin: 15px 0 0 0;
    height: 50px;
    width: 100px; }

/*# sourceMappingURL=index.css.map */
